@page
@model EventManagementSystem.Pages.Organizer.ParticipantTypes.DeleteParticipantTypeModel
@{
}
<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <form asp-page="DeleteParticipantType">
            <div class="text-center font">
                <h1>Are you sure you want to delete this participant role?</h1>
                <note>NOTE: All participants currently holding this role will no longer have this role.</note>
                <br />
                <br />
                <button class="btn rndbtn btn-danger" type="submit">I am sure</button>
                <a asp-page="/Organizer/ParticipantType" class="btn rndbtn btn-dark">Cancel</a>
            </div>
        </form>
    </div>
</div>