@page
@model EventManagementSystem.Pages.Users.ActivateUserModel
@{
}

<br />
<div class="wrapper">
    <div class="whitebox purpletxt">
        <form asp-page="ActivateUser">
            <div class="text-center">
                <h1 class="font">Are you sure you want to activate this user</h1>
                <br />
                <hr />
                <br />
                <button class="btn rndbtn btn-success" type="submit">Activate</button>
                <a asp-page="Index" class="btn rndbtn btn-dark">Cancel</a>
            </div>
        </form>
    </div>
</div>