@page
@model EventManagementSystem.Pages.Users.SearchModel
@{
}

<div class="wrapper">
    <br />
    <div class="newlogbox">
    <form asp-page="Search">
        <h2 class="font centertxt">Enter User Name:</h2>
        <br />
        <hr />
        <br />
        <input asp-for="User" class="newlogfield form" placeholder="Enter Presenter Name" />
        <br />
        <input type="submit" value="Search Users" class="btn rndbtn btn-light" />
        <br />
        <br />
        <button asp-page-handler="ReturnHandler" class="btn rndbtn btn-light" id="ReturnButton">Return</button>
    </form>
    </div>
</div>