@page
@model EventManagementSystem.Pages.Users.UserAssociationsModel
@{
}

<div class="wrapper">
    <br />
    <h3 class="centertxt font">Select a user to view their schedule</h3>
    <br />
    <hr />
    <br />
    <div class="newlogbox">
        <form method="post" asp-page-handler="ViewSchedule">
            <select asp-for="UserID" class="newlogfield">
                <option value="">Select User</option>
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Value">@user.Text</option>
                }
            </select>
            <br />
            <br />
            <button type="submit" class="btn rndbtn btn-dark">View Schedule</button>
            <br />
            <br />
            <a asp-page="Index" class="btn rndbtn btn-dark">Back</a>
        </form>
    </div>
</div>