@page "{UserID}"
@model EventManagementSystem.Pages.Users.ViewPasswordModel
@{
}

<div class="text-center">
    <h2>The encrypted password for @Model.User.FirstName @Model.User.LastName is</h2>
    <br />
    <h5>@Model.EncryptedPassword</h5>
    <br /><br />
    
</div>
<a asp-page="Index" class="btn btn-secondary">Back</a>
