<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventManagementSystem.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=block" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container">
                @{
                    if (Context.Session.GetString("RoleType") == "Admin")
                    {
                        <a class="navbar-brand" asp-page="/Admin/Index">Eventra</a>
                    }
                    if (Context.Session.GetString("RoleType") == "Participant")
                    {
                        <a class="navbar-brand" asp-page="/Index">Eventra</a>
                    }
                    if (Context.Session.GetString("RoleType") == null)
                    {
                        <a class="navbar-brand" asp-page="/Index">Eventra</a>
                    }
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <form class="container-fluid justify-content-end">
                @{
                    <ul class="navbar-nav justify-content-end flex-grow-1">
                        @{
                            @if (Context.Session.GetString("RoleType") == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link purpletxt font" asp-page="/Events/AdminEvent">Create Event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link purpletxt font" asp-page="/Attendee/AttendeeSignUp/Index">Sign up for an event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link purpletxt font" asp-page="/Users/Index">User Data</a>
                                </li>
                            }

                            @if (Context.Session.GetString("RoleType") == "Participant")
                            {
                                <li class="nav-item">
                                    <a class="nav-link purpletxt font" asp-page="/Users/Index">My Profile</a>
                                </li>
                            }
                        }
                    </ul>
                        
                    if (Context.Session.GetString("username") != null)
                    {
                        <a class="logbtn btn btn-dark justify-content-end" asp-page="/Login/LogOut">Log out</a>
                    }
                    // case that any User is currently logged in
                    else
                    {
                        <a class="logbtn btn btn-dark justify-content-end" asp-page="/Login/Index">Register | Log In</a>
                    }
                }
            </form>
        </nav>
    </header>
    <div class="containermain">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer purpletxt font">
        <div class="container">
            &copy; 2023 - <a class="font" asp-page="/Index">Eventra</a> - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>