@page "{UserID}, {ActivityID}"
@model EventManagementSystem.Pages.SignUp.ConfirmationModel
@{
    ViewData["Title"] = "Sign Up Confirmation";
}

<form asp-page="Confirmation">
    <div class="text-center">
        <h1>Are you sure you want this user to sign up for this activity?<br />
            Name = @Model.UserToSignUp.FirstName @Model.UserToSignUp.LastName
            <br />
            Activity = @Model.ActivityToSignUp.ActivityName</h1>
        <button class="btn rndbtn btn-dark" type="submit">I am sure</button>
        <a asp-page="Index" class="btn rndbtn btn-dark">Cancel</a>
    </div>
</form>
