@page
@using System.Data.SqlClient;
@model EventManagementSystem.Pages.SignUp.IndexModel
@{
    ViewData["Title"] = "Admin User Manual Sign Up";
}

<form asp-action="Index" method="post">
    <h2>Admin user manual sign up:</h2>
    <br />
    <select asp-for="UserID" asp-items="Model.Users">
        <option value="">Choose a user</option>
    </select>
    <br /><br />
    <select id="SelectedActivity" asp-for="ActivityID" asp-items="Model.Activities">
        <option value="">Choose an activity to attend</option>
    </select>
    <br /><br />
    <button type="submit" class="btn btn-success">Confirm</button>
    <a asp-page="../Index" class="btn btn-secondary">Cancel</a>
    <br /><br />
    <p class="text-danger">@Model.Message</p>
</form>
