@page
@using System.Data.SqlClient;
@model EventManagementSystem.Pages.SignUp.IndexModel
@{
    ViewData["Title"] = "Admin User Manual Sign Up";
}

<div class="wrapper">
    <br />
    <h2 class="font centertxt">Admin user manual sign up:</h2>
    <br />
    <hr />
    <br />
    <div class="newlogbox">
        <form asp-action="Index" method="post">
            <select asp-for="UserID" class="newlogfield" asp-items="Model.Users">
                <option value="">Choose a user</option>
            </select>
            <br />
            <select id="SelectedActivity" class="newlogfield" asp-for="ActivityID" asp-items="Model.Activities">
                <option value="">Choose an activity to attend</option>
            </select>
            <br /><br />
            <button type="submit" class="btn rndbtn btn-light">Confirm</button>
            <a asp-page="../Index" class="btn rndbtn btn-light">Cancel</a>
            <br /><br />
            <p class="text-danger">@Model.Message</p>
        </form>
    </div>
</div>