@page "{TeamID}"
@model EventManagementSystem.Pages.Attendee.TeamSignUp.ConfirmationModel
@{
}

<div class="wrapper">
    <br/>   
    <div class="whitebox purpletxt">
        <form asp-page="Confirmation">
            <div class="text-center">
                <br />
                <h2 class="font">Are you sure you want to join this team?</h2>
                <br />
                <hr />
                <br />
                <h2 class="font">@Model.TeamToJoin.Name</h2>
                <br />
                <button class="btn rndbtn btn-dark" type="submit">I am sure</button>
                <a asp-page="Index" class="btn rndbtn btn-dark">Cancel</a>
            </div>
        </form>
    </div>
</div>
