@page "{TeamID}"
@model EventManagementSystem.Pages.Attendee.TeamSignUp.ConfirmationModel
@{
}

<form asp-page="Confirmation">
    <div class="text-center">
        <br />
        <h2 class="font">Are you sure you want to join this team?</h2>
        <br />
        <hr />
        <br />
        <h2 class="font">@Model.TeamToJoin.Name</h2>
        <br />
        <button class="btn rndbtn btn-light" type="submit">I am sure</button>
        <a asp-page="Index" class="btn rndbtn btn-light">Cancel</a>
    </div>
</form>
