@page
@model EventManagementSystem.Pages.Attendee.TeamSignUpModel
@{
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font">Available Teams</h2>
        <br />
        <form method="post" asp-page="Attendee/TeamSignUp/Index">
            <input type="text" class="searchbar" asp-for="InputString" placeholder="Search Teams" required pattern=".*\S+.*" title="Input must contain at least one non-whitespace character" />
            &emsp;<button type="submit" class="btn rndbtn btn-dark">Search</button>
        </form>
        <br />
        <div class="shdwbox">
            <div class="table-responsive card">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Team Name:</th>
                            <th>Team Description:</th>
                            <th>Sign Up:</th>
                        </tr>
                    </thead>
                    <tbody class="table-secondary">
                        @{
                            foreach (var team in Model.Teams)
                            {
                                <tr>
                                    <td><b>@team.Name</b></td>
                                    <td>@team.Description</td>
                                    <td>
                                        <a asp-page="Confirmation" class="btn rndbtn btn-dark" asp-route-teamid="@team.TeamID">Join</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>               
            </div>
        </div>
        <br/>
        <a asp-page="/Teams/NewTeam" class="btn rndbtn btn-dark">Create Team</a>
    </div>
</div>
