@page
@model EventManagementSystem.Pages.Organizer.DeactivateEventModel
@{
}

<form asp-page="DeactivateEvent">
    <div class="text-center">
        <br />
        <h2 class="font"> Are you sure you want to deactivate this Event: @Model.EventToDelete.EventName</h2>
        <h3 class="font"> (All Subevents at this event will be deactivated and can not be recovered)</h3>
        <br />
        <hr />
        <br />
        <button class="btn rndbtn btn-light" type="submit">I am sure</button>
        <a asp-page="/Organizer/ApprovedEvents" class="btn btn-secondary">Cancel</a>
    </div>
</form>