@page
@model EventManagementSystem.Pages.Organizer.IndexModel
@{
}

<div class="wrapper">
    <div class="text-center">
        <br />
        <div class="whitebox purpletxt">
            <h2 class="display-6 font">Welcome @HttpContext.Session.GetString("RoleType"),</h2>
            <h2 class="display-6 font">@Model.FullName</h2>
            <br />
            <hr />
            <br />
            <div class="btn-group-vertical">
                <a class="btn btnvert btn-dark" href="/Organizer/CreateEvent">Create New Event for Approval</a> <br />
                <a class="btn btnvert btn-dark" href="/Organizer/ApprovedEvents">View Approved Events</a> <br />
                <a class="btn btnvert btn-dark" href="/Organizer/SelectParticipantList">View Participant Lists</a> <br />
                <a class="btn btnvert btn-dark" href="/Organizer/Spaces/Index">View and Modify Spaces</a> <br />
                <a class="btn btnvert btn-dark" href="/Organizer/ParticipantType">View Attendee Roles</a> <br />
                <a class="btn btnvert btn-dark" href="/Organizer/NotApprovedEvents">View Events Requiring Further Action</a> <br />
            </div>
        </div>
    </div>
</div>







