@page
@model EventManagementSystem.Pages.Organizer.ViewCheckInModel
@{
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <h2 class="font">Checked In Participants at @HttpContext.Session.GetString("eventname")</h2>
        <br />
        <form method="post" asp-page="/Organizer/ViewCheckIn">
            <input type="text" class="searchbar" asp-for="InputString" placeholder="Search Users" required pattern=".*\S+.*" title="Input must contain at least one non-whitespace character" />
           <button type="submit" class="btn srchbtn btn-dark">Search</button>
        </form>
        <br />
        <div class="shdwbox">
            <div class="table-responsive card">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Role:</th>
                            <th>Check In Date:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr class="table-secondary">
                                <td><b>@user.FirstName</b></td>
                                <td>@user.RoleType</td>
                                <td>@user.RegistrationDate.ToString("MM/dd/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <br />
        <a asp-page="/Organizer/Index" class="btn rndbtn btn-dark">Return</a>
    </div>
</div>