@page
@model EventManagementSystem.Pages.Rooms.AdminRoomModel
@{
}

<div class="wrapper">
    <br />
    <h2 class="font">All Rooms</h2>
    <br />
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Building:</th>
                <th>Room Number:</th>
                <th>Max Capacity:</th>
                <th>Edit:</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var room in Model.Rooms)
                {
                    <tr class="table-secondary">
                        <td>@room.BuildingName</td>
                        <td>@room.RoomNumber</td>
                        <td>
                            @room.Capacity
                        </td>
                        <td>
                            <a asp-page="EditRoom" class="btn rndbtn btn-light" asp-route-roomid="@room.RoomID">Edit</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <a asp-page="NewRoom" class="btn rndbtn btn-light">Create New Room</a>
    <a asp-page="RoomAssociations" class="btn rndbtn btn-light">Show Room Assignments</a>
</div>