@page
@model EventManagementSystem.Pages.Rooms.RoomAssociationsModel
@{
}

<div class="wrapper">
    <br />
    <h2 class="font centertxt">Room Assignments</h2>
    <br />
    <hr />  
    <br />
    <div class="shdwbox">
        <div class="table-responsive card">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Building:</th>
                        <th>Room Number:</th>
                        <th>Activity Name:</th>
                        <th>Event Name:</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var association in Model.roomAssociations)
                        {
                            <tr>
                                <td>@association.RoomNumber</td>
                                <td>@association.ActivityName</td>
                                <td>@association.EventName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a asp-page="AdminRoom" class="btn rndbtn btn-light">Back</a>
</div>