/*-----------------------------Tags--------------------------------*/
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #2C3539;
    }

body {
    margin-bottom: 60px;
    color: white;
    background: linear-gradient(to left top, #450084, #CBB677);
    font-size: 14pt;
}

footer {
    text-align: center;
    background-color: transparent;
    font-size: 12px;
}

input {
    border-radius: 25px;
    text-align: center;
}

hr {
    border: solid black 0;
    border-width: 3px;
    max-width: 70px;
    margin: auto;
    border-top: 1px;
}

html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

th {
    color: #450084;
}

thead {
    background-color: #B599CE;
    text-align: center;
}

/*------------------------------IDs--------------------------------*/

#textfield {
    border-radius: 25px;
}

/*--------------------------Quick Classes--------------------------*/

.btnvert {
    margin: 2vh auto;
    font-family: 'Arvo', serif;
    font-size: 20pt;
    padding: 25px;
}

.bigtxt {
    font-size: 32pt;
}

.card {
    border-radius: 15pt;
    border: solid 3px #450084;
}

.centertxt {
    text-align: center;
}

.font {
    font-family: 'Arvo', serif;
}

.whitebox {
    background-color: white;
    border-radius: 25px;
    padding: 50px;
}

.justify {
    justify-content: center;
}

.purpletxt {
    color: #450084;
}

.goldtxt {
    color: #CBB677;
}

.blktxt {
    color: black;
}

.round {
    border-radius: 25pt;
}

.rndbtn {
    font-family: 'Arvo', serif;
    padding: 5pt 10pt 5pt 10pt;
    border-radius: 25pt;
    font-size: 12pt;
}

.wrapper {
    margin: 0 15% 0 15%;
    height: auto;
}

.widebutton-flex {
    height: 10vh;
    width: 100%;
    border-radius: 25px;
    font-family: 'Arvo', serif;
    font-size: 24pt;
}

.widebutton {
    height: 5%;
    width: 20%;
    border-radius: 25px;
    font-family: 'Arvo', serif;
    font-size: 16pt;
}

.searchbar {
    border: none;
    padding: 5px;
    background-color: #D1D2D4;
    color: black;
}

.shdwbox {
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 25px;
    padding: 10px;
    margin: auto;
}

.shdwbox2{
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 25px;
    padding: 10px;
}

smltxt {
    font-size: 10pt;
}

/*-----------------------------Classes-----------------------------*/

.btn {
    background: #450084;
    color: white;
}

.btn-dark {
    border: none;
}

.btn-dark {
    border: none;
}

.btn-warning {
    border: none;
    background-color: red;
}

.box {
    width: 30%;
    margin: auto;
}

.carimg {
    border-radius: 25px;
    width: 60%;
    height: auto; /* maintains the aspect ratio of the images */
    margin: 0 auto;
}

.cartxtbox{
    background-color: white;
    border-radius: 15px;
    filter: opacity(75%);
    width: 80%;
    margin: auto;
}

.carousel-caption h3 {
    color: black;
    font-family: 'Arvo', serif;
}

.carousel-caption p {
    color: black;
    font-size: 16pt;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.indexwrapper {
    margin: 0 15% 0 15%;
    height: 90vh;
}

.indexContainer {
    height: auto;
    margin: auto;
    margin-bottom: 5%;
}

.indexContainer2 {
    float: right;
    margin: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.10);
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 25pt;
    width: 60%;
}

.indexBox {
    position: relative;
    top: 5vh;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.10);
    padding: 50px;
    color: #fff;
    font-size: 14pt;
    border-radius: 25pt;
}

.indexBox h2 {
    font-family: 'Arvo', serif;
    font-size: 36pt;
    color: white;
}

.ITguy {
    float: right;
    height: auto;
    width: 250px;
    margin: 5vh 10% 0 0;
}

.jmufoot {
    width: 50px;
    height: auto;
    margin: 7px 5px 0 5px;
}

.logbox {
    width: 30%;
    margin: 20vh auto;
    background-color: white;
    padding: 25px;
    border-radius: 25pt;
}

.logbtn {
    font-family: 'Arvo', serif;
    margin-right: 5%;
    padding: 5pt 10pt 5pt 10pt;
    border-radius: 25pt;
    font-size: 12pt;
}

.navbar {
    height: 10vh;
    background: white;
}

.nav-item {
    text-decoration: none;
    font-size: 14pt;
    margin-right: 2%;
}

.nav-item :hover {
    color: black;
}

.navbar-brand {
    padding: 50px;
    font-size: 24pt;
    color: #450084;
    font-family: 'Arvo', serif;
    text-decoration: none;
}

.newlogbox {
    text-align: center;
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: center;
}

.newlogbox button {
    border-radius: 25px;
    border: none;
}

.newlogbox label {
    font-family: 'Arvo', serif;
}

.newlogfield {
    border: none;
    display: block;
    margin-top: 1vh;
    padding: .5vh;
    width: 500px;
    background-color: #D1D2D4;
}

.notetxt {
    text-align: center;
    font-size: 16px;
}

.profilepic {
    border-radius: 50%;
    width: 250px;
    height: auto;
    display: flex;
    margin: auto;
}

.rbtn {
    float: right;
}

.table-secondary {
    text-align: center;
}

.scheduleimg {
    width: 300px;
    height: auto;
    margin: 5% 0 0 10%;
}

.subsubcontainer {
    width: 350px;
    margin-bottom: 10px;
}

/*-----------------------------MOBILE------------------------------*/

@media (max-width: 768px) {


/*----------------------------Mobile Tags---------------------------*/

    body {
        margin: auto;
        height: auto;
    }

    html {
        font-size: 16px;
        height: auto;
    }

    h2 {
        text-align: center;
    }

    footer {
        text-align: center;
        height: auto;
    }

    main {
        height: auto;
    }

/*---------------------------Mobile Classes--------------------------*/

    .btnvert {
        margin: 2vh auto;
        font-family: 'Arvo', serif;
        font-size: 20pt;
        padding: 10px;
    }

    .indexwrapper {
        margin: 0 3% 0 3%;
        height: auto;
    }

    .wrapper {
        margin: 0 3% 0 3%;
        height: auto;
    }

    .carimg {
        border-radius: 25px;
        width: 350px;
        height: auto; /* Add this line to maintain the aspect ratio of the images */
        display: flex;
        margin: 0 auto;
    }
    
    .card {
        height: 50%;
        font-size: 12pt;
    }

    .container {
        width: 50%;
    }

    .container-fluid {
        width: 50%;
    }

    .jmufoot {
        width: 50px;
        height: auto;
        margin-top: 2%;
    }

    .logbtn {
        margin-bottom: 0;
        margin-right: 0;
    }

    .logbox {
        width: 100%;
        margin: 20vh auto;
    }

    .navbar {
        height: 10%;
        width: 100%;
    }

    .navbar-brand {
        margin: 10px;
        padding: 0;
        font-size: 20pt;
        color: rgb(69, 0, 132);
        font-family: 'Arvo', serif;
        text-decoration: none;
    }

    .navbar-nav {
        display: none;
    }

    .newlogfield {
        border: none;
        display: block;
        margin-top: 1vh;
        padding: .5vh;
        width: 350px;
        background-color: #D1D2D4;
    }

    .indexBox {
        position: relative;
        top: 5vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.10);
        padding: 30px;
        color: #fff;
        font-size: 14pt;
        border-radius: 25pt;
    }
    
    .indexBox h2 {
        font-size: 24pt;
    }

    .indexContainer {
        margin-bottom: 10vh;
    }

    .indexContainer2 {
        width: 100%;
        margin-bottom: 10vh;
    }

    .ITguy {
        display: none;
    }

    .profilepic {
        border-radius: 50%;
        width: 100px;
        height: auto;
        display: flex;
        margin: auto;
    }

    .rbtn {
        float: none;
    }

    .rndbtn {
        font-family: 'Arvo', serif;
        padding: 5pt 10pt 5pt 10pt;
        border-radius: 25pt;
        font-size: 10pt;
        margin: 2px;
    }

    .searchbar {
        border: none;
        padding: 5px;
        background-color: #D1D2D4;
        color: black;
        width: 70%;
    }

    .shdwbox {
        background-color: rgba(0, 0, 0, 0.10);
        border-radius: 25px;
        padding: 5px;
        margin: 10px auto;
    }

    .shdwbox2 {
        background-color: rgba(0, 0, 0, 0.10);
        border-radius: 25px;
        padding: 5px;
    }

    .scheduleimg {
        display: none;
    }

    .widebutton {
        height: 10%;
        width: 100%;
        border-radius: 25px;
        font-family: 'Arvo', serif;
        font-size: 24pt;
    }

    .whitebox {
        background-color: white;
        border-radius: 25px;
        padding-top: 15px;
        padding: 10px;
        height: auto;
        margin-bottom: 10%;
        overflow: hidden;
    }
}