@page
@model EventManagementSystem.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Log in";
}

<div class="wrapper">
    <br />

    <h2 class="logtxt font">Please Log In Below:</h2>

    <br />

    <div class="logbox">
        <form asp-page="Index">
            <input asp-for="Username" placeholder="Username" class="form-control" required id="textfield"/>
            <br />
            <input asp-for="Password" placeholder="Password" class="form-control" type="password" required id="textfield" />
            <br />
            <input type="submit" class="btn btn-success" id="widebutton" value="Login"/>
            <br />
        </form>
        <br />
        <p class="purpletxt centertxt">Don't have an account? <a asp-page="NewUser">Register here</a></p>
    </div>
</div>

@{
    if (HttpContext.Session.GetString("username") == null)
    {
        <p class="text-danger">@ViewData["LoginMessage"]</p>
    }
}
