@page
@model EventManagementSystem.Pages.Login.LogOutModel
@{
}

<div class="wrapper">
    <br />
    <br />
    <br />
    <div class="logbox">
        <h2 class="centertxt font purpletxt">You have successfully logged out.</h2>
        <br />
        <button class="btn btn-dark" id="widebutton" asp-page="/Index" onclick="window.location.href='/Index'" >Home</button>
    </div>
</div>