@page
@model EventManagementSystem.Pages.Login.LogOutModel
@{
}

<div class="wrapper">
    <br />
    <br />
    <br />
    <div class="logbox">
        <h2 class="centertxt font goldtxt">You have successfully logged out.</h2>
        <br />
        <a class="btn btn-light"  id="widebutton" asp-page="/Index">Home</a>
    </div>
</div>