@page "{EventID}"
@model EventManagementSystem.Pages.Attendee.AttendeeSignUp.CancelModel
@{
    ViewData["Title"] = "Cancel Event Confirmation";
}

<form asp-page="Cancel">
    <div class="text-center">
        <br />
        <h2 class="font"> Are you sure you want to cancel registration for this Event?</h2>
        <h2 class="font"> This will cancel registration for all Subevents at this Event</h2>
        <br />
        <hr />
        <br />
        <h3 class="font">@Model.EventToCancel.EventName</h3>
        <br />
        <button class="btn rndbtn btn-light" type="submit">I am sure</button>
        <a asp-page="../Index" class="btn rndbtn btn-light">Cancel</a>
    </div>
</form>