@page "{EventID}"
@model EventManagementSystem.Pages.Attendee.AttendeeSignUp.ConfirmationModel
@{
    ViewData["Title"] = "Event Sign Up Confirmation";
}

<form asp-page="Confirmation">
    <div class="text-center">
        <br />
        <h2 class="font"> Are you sure you want to sign up for this event?</h2>
        <br />
        <hr />
        <br />
        <h3 class="font">@Model.EventToSignUp.EventName</h3>
        <br />
        <button class="btn rndbtn btn-light" type="submit">I am sure</button>
        <a asp-page="Index" class="btn rndbtn btn-light">Cancel</a>
    </div>
</form>