@page
@model IndexModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome admin: @HttpContext.Session.GetString("username")</h1> <br />
    <br />
    <div class="btn-group-vertical">
        <a class="btn btn-outline-light" href="Users">View/Create Users</a> <br />
        <a class="btn btn-outline-light" href="Events/AdminEvent">View/Create Events</a> <br />
        <a class="btn btn-outline-light" href="Activities/AdminActivity">View/Create Activities</a> <br />
        <a class="btn btn-outline-light" href="Rooms/AdminRoom">View/Create Rooms</a> <br />
        <a class="btn btn-outline-light" href="/Attendee/Index">View Your User Page</a> <br />
        <a class="btn btn-outline-info" href="Admin/AdminSignUp">Manual User Sign-Up</a> <br />
    </div>
</div>