@page
@model IndexModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <br />
    <h1 class="display-6">Welcome @HttpContext.Session.GetString("RoleType"),</h1>
    <h2 class="display-6">@Model.FullName</h2>
    <br />
    <div class="btn-group-vertical">
        <a class="btn btnvert" href="Users">Manage Users</a> <br />
        <a class="btn btnvert" href="Events/AdminEvent">Manage Events</a> <br />
        <a class="btn btnvert" href="Activities/AdminActivity">Manage Activities</a> <br />
        <a class="btn btnvert" href="Rooms/AdminRoom">Manage Rooms</a> <br />
        <a class="btn btnvert" href="/Attendee/Index">Your User Page</a> <br />
        <a class="btn btnvert" href="Admin/AdminSignUp">Manual User Sign-Up</a> <br />
    </div>
</div>
