@page "{ActivityID}"
@model EventManagementSystem.Pages.Activities.AssignRoomModel
@{
    ViewData["Title"] = "Assign Room";
}

<div class="wrapper">
    <br />
    <h2 class="font centertxt">Select an available room for your activity</h2>
    <br />
    <hr />
    <br />
    <div class="newlogbox">
        <form method="post" asp-page-handler="AssignRoom">
            <select asp-for="RoomId" class="newlogfield">
                <option value="">Select Room</option>
                @foreach (var room1 in Model.Rooms)
                {
                    <option value="@room1.Value">@room1.Text</option>
                }
            </select>
            <br />
            <br />
            <button type="submit" class="btn rndbtn btn-light">Assign Room</button>
            <br />
            <br />
            <a asp-page="AdminActivity" class="btn rndbtn btn-light">Cancel</a>
        </form>
    </div>
</div>