@page "{ActivityID}"
@model EventManagementSystem.Pages.Activities.DeleteActivityModel
@{
}

<form asp-page="DeleteActivity">
    <div class="text-center">
        <h1>Are you sure you want to deactivate this activity? (ActivityID = @Model.ActivityToDelete.ActivityID)</h1>
        <button class="btn btn-danger" type="submit">I am sure</button>
        <a asp-page="/Activities/AdminActivity" class="btn btn-secondary">Cancel</a>
    </div>
</form>
