@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<!-- This code was designed and implemented by Steven Roenker and Devin Vicchio -->

<div class="text-center">
    <h1 class="display-4">Welcome to the Event Management System</h1>
    <br /> <br />
    
    <h4>Please log in to begin: </h4>
    <a class="btn btn-outline-info" href="Login">Log in</a>
    <br /><br /><br />
    <h4>Don't have an account? </h4>
    <a class="btn btn-outline-info" href="/Login/NewUser">Create New Account</a>
    
    <br /><br /><br /><br /><br /><br />
    <h5>Code design and implementation by:<br />Steven Roenker and Devin Vicchio</h5>
</div>
