@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="wrapper">
    <br />
    <h1 class="font centertxt">@ViewData["Title"]</h1>
    <p class="text-center">You were not supposed to click this, go back!.</p>
</div>
