@page
@model EventManagementSystem.Pages.Attendee.LeaveTeam.ConfirmationModel
@{
}

<div class="wrapper">
    <br />
    <div class="whitebox purpletxt">
        <form asp-page="LeaveTeam">
            <div class="text-center">
                <br />
                <h2 class="font">Are you sure you want to leave this team?</h2>
                <br />
                <hr />
                <br />
                <h2 class="font">@Model.TeamToLeave.Name</h2>
                <br />
                <button class="btn rndbtn btn-dark" type="submit">I am sure</button>
                <a asp-page="Index" class="btn rndbtn btn-dark">Cancel</a>
            </div>
        </form>
    </div>
</div>
